header {
  color: white;
  text-align: center;
  background-color: black;
  opacity: .9;
  padding-bottom: 50px;
}
footer {
  color: white;
  text-align: center;
  background-color: black;
  opacity: .9;
  padding-top: 50px;
  padding-bottom: 25px;
}
.content_section-about {
  padding-top: 30px;
  padding-bottom: 20px;
}
.column-content-bio {
  padding: 10px;
}
.column-content {
  padding-bottom: 10px;
}
.content_section-skills {
  border-top: black 5px solid;
  padding-top: 20px;
  text-align: center;
}
.content_section-skills {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.content_section-portfolio {
  padding: 15px;
}
.icons {
  height: 20px;
  width: 20px;
}
.icons:hover {
  box-shadow: 0 0 3px black;
  margin-top: -10px;
}
.icon:hover{
  transform: scale(1.05);
}
#navLink{
  color: white;
  border: silver solid;
  font-weight: bold;
}
#navLink:hover {
  opacity: .5;
  transform: scale(1.05);
}
#navLink:active {
  color: goldenrod;
  transform: scale(1.10);
}
.title {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.project-container {
  padding: 20px;
  border: 20px solid black;
  border-radius: 25px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  opacity: .9;
}
.project-container p{
  text-align: left;
  font-weight: normal;
}
.project-container .img-fluid {
  padding-bottom: 10px;
  padding-top: 5px;
}
.project-container .tech-icons{
  font-weight: normal;
}
.project .nav.nav-tabs .nav-item {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}
.btn.btn-primary {
  font-weight: bold;
  font-size: 16px;}

.action-btn.btn.btn-primary {
  width: 50%;
  float: left;
  border: 2px solid white; 
}

.action-btn.btn.btn-primary:hover {
  background-color: rgb(0, 0, 175); }

.action-btn-full.btn.btn-primary {
  width: 100%;
  border: 2px solid white; 
}

.action-btn-full.btn.btn-primary:hover {
  background-color: rgb(0, 0, 175) }